<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jokerchen.marathon.match.mapper.MatchMapper" >
	
	<resultMap id="match" type="com.jokerchen.marathon.match.model.Match">
		<id column="id" property="id" />
        <result column="match_name" property="matchName"/>
        <result column="match_logo" property="matchLogo"/>
        <result column="match_area" property="matchArea"/>
        <result column="match_type" property="matchType"/>
        <result column="official_web" property="officalWeb"/>
        <result column="status" property="status"/>
        <result column="match_date" property="matchDate"/>
        <result column="started" property="started"/>
        <result column="regist_start_time" property="registStartTime"/>
        <result column="regist_end_time" property="registEndTime"/>
	</resultMap>
	
	<select id="findMatch" resultMap="match"
		parameterType="com.jokerchen.marathon.match.model.Match">
		select * from m_match m where 1=1
		<if test="id != null and id != '' "> and m.id = #{id}</if>
		<if test="matchName != null and matchName != '' "> and m.match_name = #{matchName}</if>
		<if test="matchArea != null and matchArea != '' "> and m.match_area = #{matchArea}</if>
		<if test="matchType != null and matchType != '' "> and m.match_type = #{matchType}</if>
		<if test="status != null and status != '' "> and m.status = #{status}</if>
		<if test="started != null and started != '' "> and m.started = #{started}</if>
	</select>

	<insert id="addMatch" parameterType="com.jokerchen.marathon.match.model.Match">
		insert into 
			m_match(match_name,match_logo,match_area,match_type,official_web,status,
				match_date,started,regist_start_time,regist_end_time
			) 
		values
			(#{matchName},#{matchLogo},#{matchArea},#{matchType},#{officalWeb},#{status},
			#{matchDate},#{started},#{registStartTime},#{registEndTime})
	</insert>

   	<update id="updateMatch" parameterType="com.jokerchen.marathon.match.model.Match">
		update m_match set 
			match_name=#{matchName},match_logo=#{matchLogo},match_area=#{matchArea},
			match_type=#{matchType},official_web=#{officalWeb},
			status=#{status},match_date=#{matchDate},
			started=#{started},regist_start_time=#{registStartTime},
			regist_end_time=#{registEndTime}
		where
			id=#{id}
	</update>
	
	<delete id="deleteMatch" parameterType="map">
		DELETE FROM m_match
		where id in 
		<foreach collection="ids" item="item" index="index" 
			open="(" close=")" separator=",">
				#{item}
		</foreach>
    </delete>

</mapper>