
.roll_img{width:835px;height:315px;}

.overseas-events{background-image: url("../images/homepage/overseas events.jpg");
	background-size:cover;width:264px;height:155px;}
	
.running-tool{width:264px;height:155px;display:table-cell;background: #D7D7D7;
	font-size:28px;vertical-align:middle;text-align:center;}

