


.header-bg{background-color: #F2F2F2;}

.query-table{width:100%;margin-top:20px; }
.query-table td{border: 1px solid #E9E9E9;padding:10px 0;}
.query-table>tbody>tr>td:FIRST-CHILD{
	background: #F4F4F4;width: 100px;text-align: center;
}
/* .query-table>tbody>tr>td:NOT(:FIRST-CHILD){text-indent:20px;} */
.query-table>tbody>tr:FIRST-CHILD>td:LAST-CHILD{
	background: #F4F4F4;width: 360px;text-align: center;font-size: 28px;text-indent:0;
}



#dataTable th{background: #F2F2F2;border-top: 1px solid #dddddd;}
/* #dataTable th:FIRST-CHILD{border-left: 1px solid #dddddd;}
#dataTable th:LAST-CHILD{border-right: 1px solid #dddddd;} */
#dataTable>tbody>tr>td{vertical-align: middle;}
#dataTable>tbody>tr:LAST-CHILD>td{border-bottom: 1px solid #dddddd;}
#dataTable{margin-bottom: 0;}